.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-image: url("pre.jpeg");
  padding: 0 20px;
}

.navbar-item {
  flex: 1;
  text-align: center;
}

.navbar-item a {
  text-decoration: none;
  color: #D9312C;
  font-family: "Alkatra";
  font-size: 36px;
  padding: 0 20px 0 20px;
  border-radius: 16px;
  background-color: #F1F1F1;
}

.navbar-item img {
  border-radius: 16px;
}

.navbar-item a:hover {
  background-color: #ddd;
}
