<nav class="navbar">
  <div class="navbar-item">
    <a href="accueil">Accueil</a>
  </div>
  <div class="navbar-item">
    <a href="meilleures_pieces">Meilleures Pièces</a>
  </div>
  <div class="navbar-item">
    <%= image_tag("butchery_logo.png", alt: "Logo", height: "175px") %>
  </div>
  <div class="navbar-item">
    <a href="contact">Contact</a>
  </div>
</nav>
