<nav class="navbar">
  <div class="navbar-item">
    <a href="#">Accueil</a>
  </div>
  <div class="navbar-item">
    <a href="#">Meilleures Pièces</a>
  </div>
  <div class="navbar-item">
    <%= image_tag("butchery_logo.jpg", alt: "Logo", height: "200px") %>
  </div>
  <div class="navbar-item">
    <a href="#">Contact</a>
  </div>
</nav>
