<div class="wrapper">
  <div class="container">
    <div class="item"><%= image_tag("img1.jpeg", alt: "viande", width: "300px", height: "300px") %></div>
    <div class="item"><%= image_tag("img2.jpeg", alt: "viande", width: "300px", height: "300px") %></div>
    <div class="item"><%= image_tag("img3.jpeg", alt: "viande", width: "300px", height: "300px") %></div>
    <div class="item"><%= image_tag("img4.jpeg", alt: "viande", width: "300px", height: "300px") %></div>
  </div>

  <p>
    La viande est un aliment constitué des tissus musculaires de certains animaux,
    notamment les mammifères, les oiseaux, les reptiles, mais aussi certains poissons
    comme les requins. Le terme peut inclure le gras, les nerfs et le sang associés à
    ces tissus, et dans une acception plus générale les abats et les os (moelles,
    cartilages servant aussi pour réaliser les préparations en gelée, etc.).
    Les principaux organismes de santé recommandent de limiter la consommation de viande
    rouge et d'éviter la viande transformée.

    La production de viande est en croissance continue dans le monde, atteignant 330
    millions de tonnes en 2018. Elle a un impact environnemental élevé, contribuant
    significativement au réchauffement climatique et à la déforestation.
  </p>
</div>
