<div class="wrapper">
  <div class="container">
    <div class="item"><%= image_tag("img1.jpeg", alt: "viande", width: "335px", height: "335px") %></div>
    <div class="item"><%= image_tag("img2.jpeg", alt: "viande", width: "335px", height: "335px") %></div>
    <div class="item"><%= image_tag("img3.jpeg", alt: "viande", width: "335px", height: "335px") %></div>
    <div class="item"><%= image_tag("img4.jpeg", alt: "viande", width: "335px", height: "335px") %></div>
  </div>

  <p>
    En tant que nouveau boucher passionné, permettez-moi de
    vous transporter dans un univers de saveurs et d'expériences gustatives incomparables.
    <br>Imaginez une viande tendre et juteuse, élevée avec soin et préparée avec amour.
    <br>Vous y découvrirez une large sélection de viandes, allant des classiques intemporels aux
    coupes plus audacieuses, pour satisfaire les palais les plus exigeants.
    <br>Pour les amateurs de volaille, nos poulets fermiers élevés en plein air sont une véritable ode à la qualité. Leur chair est juteuse et savoureuse, un vrai régal pour les gourmets.
    <br>Et n'oublions pas les amateurs de viande de bœuf. Nos côtes de bœuf maturées pendant des semaines offrent une tendreté et une saveur
    exceptionnelles.
    <br>En tant que boucher passionné, je m'engage à vous offrir une expérience gustative unique, où la qualité prime avant tout. <br>Chaque morceau de viande que vous achetez chez moi est un témoignage de mon dévouement à vous offrir le meilleur.
    <br><br>Alors, qu'attendez-vous pour franchir les portes de ma boucherie et goûter à la <br>différence ?<br> Laissez-vous séduire par l'arôme
    envoûtant et les saveurs incomparables de ma viande fait maison. Je vous promets une expérience gastronomique qui éveillera tous
    vos sens et vous laissera envie d'en découvrir toujours plus.
  </p>
</div>


<div class="footer">
  <div class="carte">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.595510787411!2d2.976108676126333!3d43.028900371138675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b05177efbb1933%3A0x1dbc54e27b7d7895!2sBoucherie%20du%20march%C3%A9!5e0!3m2!1sfr!2sfr!4v1686131614467!5m2!1sfr!2sfr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <ul>
    <li id="horloge">🕰️</li>
    <li><span>LUNDI</span>&nbsp 🐷 fermé 🐗 </li>
    <li><span>MARDI</span>&nbsp 7h30 -- 13h || 16h -- 19h</li>
    <li><span>MERCREDI</span>&nbsp 7h30 -- 13h || 16h -- 19h</li>
    <li><span>JEUDI</span>&nbsp 7h30 -- 13h || 16h -- 19h</li>
    <li><span>VENDREDI</span>&nbsp 7h30 -- 13h || 16h -- 19h</li>
    <li><span>SAMEDI</span>&nbsp 7h30 -- 13h || 16h -- 19h</li>
    <li><span>DIMANCHE</span>&nbsp 8h -- 13h</li>
  </ul>
</div>
