<h1>Nos meilleures pièces</h1>

<div class="pieces">
  <%= image_tag("brochettes.jpeg", alt: "brochettes", width: "600px", height: "400px") %>
  <%= image_tag("entrecote.jpeg", alt: "entrecote simmental", width: "600px", height: "400px") %>
</div>

<h2>Brochettes &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
Entrecote Simmental</h2>
